@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}

body {
  font-family: 'League Spartan';
  font-size: 12px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  position: relative;
}

.header {
  display: block;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 50px;
  top: 60px;
  left: 60px;
  z-index: 2;
}

.headerMobile {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: var(--White);
  position: relative;
}

.menu a::after {
  content: "";
  display: block;
  border-bottom: 3px solid var(--White);
  width: 50%;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.3s ease;
}

.menu a:hover::after {
  opacity: 1;
}

.menu a:hover {
  text-decoration: none;
}

.section {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.contener-1,
.contener-2,
.contener-3 {
  display: flex;
}

.contener-1 .img-hero-1,
  .contener-2 .img-hero-2,
  .contener-3 .img-hero-3 {
    display: block;
  }
  .contener-1 .mobile-hero-1,
  .contener-2 .mobile-hero-2,
  .contener-3 .mobile-hero-3 {
    display: none;
  }

.inform-1,
.inform-2,
.inform-3 {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inform-1 h1,
.inform-2 h1,
.inform-3 h1 {
  font-size: 35px;
  width: 300px;
  margin-left: 150px;
  margin-top: 100px;
}

.inform-1 p,
.inform-2 p,
.inform-3 p {
  line-height: 20px;
  color: var(--Dark-Gray);
  width: 316px;
  margin-left: 150px;
  font-weight: 600;
}

.inform-1 button,
.inform-2 button,
.inform-3 button {
  display: flex;
  align-items: center;
  gap: 20px;
  letter-spacing: 8px;
  width: 230px;
  margin-left: 150px;
  border: none;
  background: none;
  font-weight: 600;
  cursor: pointer;
}

.icon {
  position: relative;
  margin-right: 0;
  animation: moveIcon 0.3s linear infinite paused;
}

button:hover .icon {
  animation-play-state: running;
}

@keyframes moveIcon {
  0% {
    margin-right: 0;
  }

  100% {
    margin-left: 10%;
  }
}

.bts {
  position: absolute;
  display: flex;
  width: 168px;
  bottom: 33%;
  right: 30%;
}

.bts button {
  margin-bottom: 2px;
  padding: 20px 33px;
  border: none;
  background-color: var(--Black);
  cursor: pointer;
  transition: 0.3s;
}

.bts button:hover {
  background-color: var(--Very-Dark-Gray);
}

.aside {
  display: flex;
  max-width: 1440px;
}

.aside .imform-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 420px;
  padding: 50px 80px;
}

.aside span {
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.aside p {
  line-height: 20px;
  color: var(--Dark-Gray);
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}